{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="menu home"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                    <li class="menu"><a href="{% url 'movie_list' %}">Filmes</a></li>
                    <li class="menu"><a href="{% url 'category_list' %}">Categorias</a></li>
                    <li class="menu"><a href="{% url 'customer_list' %}">Clientes</a></li>
                </ul>
                {% block filter %}{% endblock filter %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content%}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
