{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}cliente{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="text-center">{{ customer.name }}</h3>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <!--FILMES ALUGADOS-->
        <div class="col-md-5 col-lg-5">
            <h4>Filmes Alugados</h4>
            <div class="scroll-rent">
                {% if customer.rented_movies.count %}
                    <form id="formGiveBack" method="POST" action="{% url 'customer_detail' customer_id=customer.pk %}">
                        {% csrf_token %}
                        <table class="table table-striped">
                            <thead>
                                <th>devolver</th>
                                <th>filme</th>
                            </thead>
                            <tbody>
                                {% for rented in customer.rented_movies.all %}
                                    <tr>
                                        <td><input id="giveBack-{{ rented.id }}" type="checkbox" name="{{ rented.id }}"></td>
                                        <td><label for="giveBack-{{ rented.id }}">{{ rented.name }}</label></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                {% else %}
                    <p>Esse cliente não alugou nenhum filme</p>
                {% endif %}
            </div>
            <br>
            <input type="submit" form="formGiveBack" class="btn btn-danger btn-block" value="Confirmar Devolução">
        </div>

        <!--<div class="col-md-1 col-lg-1"></div>-->

        <!--ALUGAR-->
        <div class="col-md-7 col-lg-7">
            <h4>Filmes Disponiveis para Alugar: {{ total_movies }}</h4>
            <div class="scroll-rent">
                <form id="formRent" method="POST" action="{% url 'customer_detail' customer_id=customer.pk %}">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <thead>
                            <th class="col-md-1 col-lg-1">alugar</th>
                            <th>filme</th>
                        </thead>
                        <tbody>
                            {% for movie in movies %}
                                <tr>
                                    <td><input id="movie-{{ movie.id }}" type="checkbox" name="{{ movie.id }}"></td>
                                    <td><label for="movie-{{ movie.id }}">{{ movie.name }} - {{ movie.category.name }} - <small>Disponíveis: {{ movie.remaining }}</small></label></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
            <br>
            <input type="submit" form="formRent" class="btn btn-success btn-block" value="Confirmar Locação">
        </div>
    </div>
</div>
{% endblock %}