{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}clientes{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active"><a href="{{ request.get_full_path }}">Clientes</a></li>
        </ol>

        <h3 class="text-center">Clientes</h3>
        <form method="GET" class="form-inline">
            <div class="form-group">
                <input class="form-control" type="search" name="query" placeholder="buscar...">
                <input class="btn btn-primary" type="submit" value="Buscar">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <table class="table table-striped">
            <thead>
                <th>Nome</th>
                <th>Status</th>
                <th>Filmes alugados</th>
            </thead>
            <tbody>
                {% for customer in customer_list %}
                    <tr>
                        <td><a href="{% url 'customer_detail' customer_id=customer.pk %}">{{ customer.name }}</a></td>
                        <td>
                            {% if customer.is_active %}
                                Ativo
                            {% else %}
                                Inativo
                            {% endif %}
                        </td>
                        <td>
                            {% if customer.rented_movies.count %}
                                {{ customer.rented_movies.count }}
                            {% else %}
                                Nenhum
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="text-center">
            {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
        </div>
    </div>
</div>
{% endblock %}